h2 {
    font-size: 30px;
}

.collection {
    width: 100%;
    max-height: 550px;
    display: inline-block;
    overflow: auto;
}

#notes {
    width: 30%;
    margin: 0px auto;
}

textarea,
input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}
